*{
  margin: 0;
  padding: 0;
 }
 body{
  background-image: url(img/FUNDO.jpg);
 }
 nav {
     background-color: #0d0d3f;
     color: #8fa8f2;
     font-size: 18px;
     font-weight: bold;
     height: 65px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
   }
   
   li {
     margin-right: 20px;
   }
   
   a {
     color: #8fa8f2;
     text-decoration: none;
     padding: 10px;
     transition: background-color 0.5s;
   }
   
   a:hover {
     background-color: #2b2828;
   }
   img{
     width: 50px;
     height: 50px;
     margin-right: 380px ;
   }
   body{
     background-color: #0d0d1f ;
   }
   p{
     vertical-align: text-bottom;
     color: #B0B8D1;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   
   .imagem{
     float: left;
     text-align: center;
   }
   
 
 
 
   .container {
     position: relative;
     width: 50%;
     margin: 15px;
     
     float: left;
     width: 180px;
   }
   
   .image {
     display: block;
     width: 200px;
     height: 200px;
     position: relative;
     margin-left: 200px;
     margin-top: 100px;
     
   }
   
   .overlay {
     position: absolute;
     bottom: 30%;
     left: 75;
     right: 50;
     background-color: #0d0d3f;
     overflow: hidden;
     width: 200px;
     height:0 ;
     transition: .3s ease;
     margin-left: 200px;
     margin-top: 200px;
    
   }
   
   .container:hover .overlay {
     bottom: 0;
     margin-left: 200px;
     margin-top: 200px;
     width: 200px;
     height: 200px;
     
   }
   
   .text {
     white-space: nowrap; 
     color: #8fa8f2;
     font-size: 20px;
     position: absolute;
     overflow: hidden;
     top: 50%;
     left: 50%;
     transform: translate(-60%, -60%);
     -ms-transform: translate(-50%, -50%);
     text-align: center;
     margin-left: 15px;
   }
   h1{
     color: #8fa8f2;
     text-align: center;
     margin-top: 60px;
   }
   .imag{
    float: left;
   
   }
   .perfill{
    text-align: left;
    font-size: 20px;
   }
   header nav .search_box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    
}
header nav .search_box input {
    border-radius: 30px;
    outline: none;
    background: #0d0d1f;
    height: 100%;
    padding: 0 10px;
    font-size: 10px;
    width: 350px;
    border-color: #0d0d2f;
   font-family: system-ui, ;
   color: #8fa8f2;
}
footer {
  position: absolute;
  bottom: 0;
  
  color: #8fa8f2;
  width: 1263px;
  height: 100px;    
  text-align: center;
  line-height: 90px;
  
}
.twt {
  text-align: center;
  word-spacing: 80px;
  color: #8fa8f2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.lotw{
  align-items: center ;
  margin-top: 30px;
  margin-left: 0 ;
  margin-bottom: 0%;
  margin-right: 0%;
  padding: 0;
  border: 0;
}

.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  padding: 10px;
  height: 300px;
}


.column.side {
   -webkit-flex: 2;
   -ms-flex: 2;
   flex: 2;
   height: 420px;
   margin-top: 30px;
}


.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  height: 420px;
  margin-top: 30px;
  
}
.tit{
  text-align: right;
  
  color: #5050ca;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  letter-spacing: 10px;
  font-size: 30px;
  text-shadow: 1px 1px 2px black, 0 0 25px #8fa8f2, 0 0 5px darkblue;
}

.tit2{
  text-align: left;
  
  color: #5050ca;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  letter-spacing: 10px;
  font-size: 30px;
  text-shadow: 1px 1px 2px black, 0 0 35px #8fa8f2, 0 0 5px darkblue;
}
.capa{
  width: 100%;
  height: 300px;
  margin: auto;
  display: block;
  border-radius: 10px;
  
}
.desc{
  color: #B0B8D1;
  font-size: 20px;
}
.botao {
  padding: 0.9em 2.2em;
  border: none;
  outline: none;
  color: #8fa8f2;
  background: #0d0d3f;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 180px;
  font-size: 15px;
}

.botao:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-botao 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-botao {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.botao:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0d0d3f;
  left: 0;
  top: 0;
  border-radius: 10px;
}
    


  
  
  
 