{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-image: url("../img/FUNDO.jpg");
}

.header {
    border-radius: 10px;
}

.logo>img {
    width: 150px;
    height: 150px;
}

#searchbar {   
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: rgb(176, 184, 209);
    padding: 15px;
    border-radius: 10px;
}

.menu {
    float: right;
    list-style-type: none;
    margin-top: -90px;
}

.menu>li {
    display: inline;
}

.menu>li>a {
    text-decoration: none;
    padding: 8px;
    /* background-color: #dddddd; */
    color: #b0b8d1;
    text-align: center;
}

.menu>li>a:hover {
    background-color: #090930;
}
.cat img {
    width: 100%;
    max-width: 350px;
    height: 500px;
    object-fit: fill;
    border-radius: 10px;
  }
  .cat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }